---
import Card from "../components/Card.astro";
import ProductCollection from "../components/ProductCollection.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<div class="p-9">
	<Card title="Hola Astro" time="2025" tags="javascript"/>
</div>
